:root {
    --color-black: #161515;
    --color-white: #FFFFFF;
    --color-violet: #C63264;

    --border: 1px solid var(--color-black);
    --border-radius: 10px;
    --border-radius-small: 5px;

    --shadow: 0px 0px 20px 0px var(--color-black);

    --font-family-base: 'Play', sans-serif;

    --container-width: 1240px;
    --container-padding-x: 10px;

    --section-padding-y: 50px;
}